.mainBody {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #e91e63;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 500;
  font-family: Georgia;
}
.headingContent {
  font-family: Georgia;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
  margin-top: 20px;
}

.subHeading {
  color: #008982;
  font-size: 20px;
  font-family: Georgia;
}

.subMenuHeading {
  color: #008982;
  font-family: Georgia;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}
.steps {
  color: #008982;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 700;
}
.innerBoldText {
  font-size: 18px;
  font-weight: 500;
  color: #e91e63;
  font-style: italic;
  font-family: Georgia;
}
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.dataButton {
  align-items: center;
  background-color: #313a46;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: Georgia;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-top: 20px;
}

.dataButton:hover {
  background-color: #e91e63;
}

.spinner {
  width: 20px !important;
  height: 20px !important;
}
.spinnerDiv {
  display: flex;
  flex-direction: row;
}
.spinnerText {
  padding-left: 10px;
  font-size: 14px;
  font-family: Georgia;
  color: #e91e63;
}

.uploader-status ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #000000;
}
